body {
  background-color: #fff;
}
.heading {
  background: #39618e; /* Old browsers */
  background: -moz-linear-gradient(top, #39618e 0%, #014390 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #39618e 0%,
    #014390 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #39618e 0%,
    #014390 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39618e', endColorstr='#014390',GradientType=0 ); /* IE6-9 */
  min-height: 150px;
  height: auto;
  padding: 5px 0px;
}
.menu-bg {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 50%,
    #1e5799 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 50%,
    #1e5799 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 50%,
    #1e5799 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  border-top: 2px solid #ffbf00;
  border-bottom: 2px solid #ffbf00;
}
.sidemenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidemenu li {
  margin-bottom: 5px;
}
.sidemenu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px;
}
.sidemenu li a:hover {
  background-color: #5bc0de;
  font-weight: bold;
}
.nav li a {
  padding: 10px;
}
.navbar {
  background: none;
  border: none;
  margin: 0px;
}
.navbar-nav li a {
  text-transform: uppercase;
  color: #ffffff !important;
}
.navbar-nav li.dropdown a {
  background: none !important;
}
.nav-tabs {
  background-color: #ffffff;
}
.nav-tabs li a {
  background-color: #337ab7;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0;
}
.nav-tabs li a:hover {
  background-color: #5bc0de !important;
  color: #ffffff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #5bc0de !important;
  color: #ffffff;
}
.tab-content {
  height: 250px;
  background-color: #ffffff;
  border: 3px solid #337ab7;
}
.table-striped > thead > tr{
	background-color: #337ab7;
	color: #ffffff;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #FFFAA0;
}

/* Set black background color, white text and some padding */
footer {
  /* background-color: #242424; */
  background: linear-gradient(to right, #243b55, #141e30);
  color: white;
  padding: 15px;
  padding-bottom: 0;
}
.dropdown-menu li {
  border-bottom: 1px dotted #000000;
}
.dropdown-menu li a {
  color: #000000 !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: none !important;
  background-color: #5bc0de !important;
  color: #ffffff !important;
}
.badge-warning {
  background-color: #f89406;
}
.badge-success {
  background-color: #468847;
}

.usrlogin {
  color: #ffffff;
  text-decoration: none;
}
.usrlogin:hover {
  color: #3b5998;
  text-decoration: none;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #f56505;
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #333;
}

/*.flink{
  margin-bottom: 30px;
}*/
.flink ul.implink{
	columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
	list-style-type: none;
}
.flink ul.implink li a{
	color: #fff;
	font-size: 12px;
}
.flink ul.implink li a::before{
	font-family: FontAwesome;
  	content: "\f101";
  	margin-right: 5px;
}
.flink .list-group {
  width: 50%;
  margin: auto;
  float: left;
}

.flink a.list-group-item::before {
  font-family: FontAwesome;
  content: "\f101";
  margin-right: 5px;
}

.flink .list-group-item {
  border: none;
  background: transparent;
  color: #faf9f6 !important;
  display: table;
  margin-left: 40px;
}
.flink .list-group-item:hover {
  background-color: transparent !important;
}

.img-slide {
  width: 100%;
  height: 330px !important;
  object-fit: cover;
}

.footer-copyright {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}
.list-group-item.active2{
	background-color: #d9edf7;
	border-color: #d9edf7;
}

/* css tree view */
/* It's supposed to look like a tree diagram */
.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 auto 1em auto;
  text-align: center;
}
.tree,
.tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
}
/* _________ */
.tree li:before {
  outline: solid 1px #666;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}

.tree code,
.tree span {
  /* border: solid 0.1em #666; */
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
}
/* If the tree represents DOM structure */
.tree code {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px #666;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -0.5em;
}
.tree code:before,
.tree span:before {
  top: -0.55em;
}

/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}

.dropdown-menu li::before {
  outline: none;
}
.navbar-fixed-top{
	top: -50px;
	transform: translateY(50px);
	transition: transform .3s;
}

@media only screen and (max-width: 767px) {
  .heading {
    height: auto;
  }
  .img-slide {
    height: auto;
  }
  .flink .list-group-item {
    margin-left: 0;
  }
  #exam {
    display: none;
  }
  .navbar-fixed-top{
	  position: relative;
  }
}
